<div class="bouton">
  <a href="/article/new">New article</a>
</div>

<div class="bouton">
  <a href="/profile">Edit profile</a>
</div>

<div class="bouton">
  <a href="/logout">Log out</a>
</div>

<div class="all-articles">
  <p>Hello {{myself.name}}, here are your {{myself.articles.length}} articles!</p>
  <ul>
    {{#each myself.articles}}
    <li>
      <a href="/edit-article/{{_id}}">{{title}}</a>
      - <a href="/edit-article/edit?article_id={{_id}}">EDIT</a>
    </li>
    {{else}}
    no post
   {{/each}}
  </ul>
</div>
